.DS_Store
_build
tmp
*.native
*.byte
*.docdir

_tags
configure
Makefile
myocamlbuild.ml
setup.data
setup.log
setup.ml

test/node_modules
test/running
test/newque
test/logs
test/remoteRunning
test/remoteConf/channels

data
logs
